apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # 변수를 사용해 프로메테우스 서버 주소를 동적으로 주입
    url: http://{{ hostvars[prometheus_host]['ansible_host'] }}:{{ prometheus_port }}
    isDefault: true
    editable: true
