[defaults]
inventory = ./inventory/aws_ec2.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = ../practice

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
# ProxyCommand를 여기서 지우고 group_vars에서 동적으로 처리할 겁니다.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
